
// colors
$didi-green-color: #93c23e;
$didi-blue-color: #2681a7;
$didi-red-color: #ba131a;
$didi-grey-color: #808285;
$didi-light-grey-color: #D5D6D6;
$didi-background-color: #F2F2F2;

// fonts
$didi-fonts: Futura,Helvetica, Arial, sans-serif;

// font sizes
$didi-table-font-size: 14px;
$didi-btn-font-size: 14px;
$didi-btn-big-font-size: 16px;

// layout
$didi-sidebar-width: 230px;
$didi-sidebar-padding: 20px;

$didi-main-container-min-height: 560px;

// main content TODO: use media-queries
$didi-main-content-width: 1070px;
//$didi-main-content-width: 960px;

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  $didi-main-content-width: 960px;
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  $didi-main-content-width: 1070px;
}


$didi-panel-container-width:100%;
$didi-panel-width:49%;
//$didi-panel-width: 530px;
$didi-panel-height: 300px;

@mixin didi-footer {
  width: 100%;
  clear: both;
  text-align: center;
  height: 40px;
  background-color: $didi-green-color;
  padding: 12px;
  color: white;
  font-size: 12px;
}

// panels
$didi-panel-row-height: 20px;

// components
// indicators

@mixin didi-state {
  width: 100%;
  height: 40px;
  border-radius: 0;
  border: 0;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 12px;
  font-size: 11px;
  line-height: 1.42857;
}

@mixin didi-edit-button {
  background-color: $didi-grey-color;
  color: white;
  border-radius: 0;
  width: 100%;
  height: 40px;
  padding: 10px 12px;
  margin-top: 5px;
  text-transform: uppercase;
  font-size: 11px;
}

@mixin didi-add-button {
  background-color: $didi-blue-color;
  color: white;
  border-radius: 0;
  width: 200px;
  height: 40px;
  padding: 18px 30px 0px 5px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 12px;
  &:hover {
    background-color: $didi-light-grey-color;
    border: 1px solid $didi-grey-color;
    color: #000000;
  }
  i.glyphicon {
    padding-left: 25px;
  }
}

// buttons
$didi-sidebar-btn-thin-width: 96px;
$didi-sidebar-btn-wide-width: 123px;
$didi-sidebar-btn-separator-width: 5px;
$didi-sidebar-btn-full-width: $didi-sidebar-btn-thin-width + $didi-sidebar-btn-wide-width + $didi-sidebar-btn-separator-width;
$didi-sidebar-btn-height: 70px;



// effects
@mixin didi-light-shadow {
  -webkit-box-shadow: 0px -3px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px -3px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px -3px 10px 0px rgba(50, 50, 50, 0.3);

  -webkit-box-shadow: 3px 0px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    3px 0px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         3px 0px 10px 0px rgba(50, 50, 50, 0.3);

  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.3);

  -webkit-box-shadow: -3px 0px 10px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    -3px 0px 10px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         -3px 0px 10px 0px rgba(50, 50, 50, 0.3);
}

@mixin didi-inner-shadow {
  -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}


@mixin didi-notification-circle {
  display: block;
  height: 18px;
  width: 18px;
  line-height: 1;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: $didi-red-color;
  color: white;
  text-align: center;
  font-size: 11px;
  padding: 3px;
}