//----------------------------------------
//                analytics
//----------------------------------------
@import 'config';

.analytics-dropdown-container {
  text-align: right;
    &.no-padding {
      padding-top: 0;
    }
  .input-group-btn {
    padding-top: 0;
  }
  .btn {
    border: none;
    text-transform: uppercase;
    color: $didi-blue-color;
    font-size: 12px;
    background-color: white;
  }
  .dropdown-toggle {
    border-left: 1px solid $didi-grey-color;
  }
}

.analytics-panel {
  background-color: white;
  .analytics-promo-label {
    padding: 5px 12px 1px 12px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.analytics-wide-panel {
  margin-bottom: 10px;
  .row {
    .col-md-3 {
      &.no-padding {
        padding: 0;
      }
    }
  }
  .small-padding {
    @include small-padding;
  }
}