@import 'config';

.didi-login {
  width: 310px;
  margin: 50px auto 0 auto;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 100px;
  .didi-logo-big {
    margin-bottom: 70px;
  }
  .input-password-container {
    margin-bottom: 10px;
  }
  &.jumbotron {
    background-color: $didi-background-color;
  }
  label {
    width: 100%;
    background-color: $didi-blue-color;
    padding: 0;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
  }
  input {
    height: 30px;
    border-radius: 0px;
    border: none;
  }
  .form-group:last-child {
    margin-bottom: 10px;
  }
  .forgot-password {
    text-align: left;
    a {
      font-size: 12px;
      text-decoration: underline;
    }
  }
}
.login-register {
  text-align: right;
  p {
    margin-bottom: 0px;
  }
  a {
    text-decoration: underline;
  }
}
.footer {
  &.login-footer {
    min-width: $didi-wrapper-width;
  }
}