$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import 'config';
@import 'modals';
@import 'didi-icons/*.png';

@include all-didi-icons-sprites;

body {
  font-family: $didi-fonts;
  background-color: $didi-background-color;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.profile {
  background-color: $didi-green-color;
}


// main-dashboard

.wrapper {
  padding: 15px;
  // fixed width
  width: 1350px;
}
// header
.header {
  height: 130px;
  border-bottom: 5px solid $didi-blue-color;
  .header-left-info {
    float: left;
    .header-profile-img-container {
      float: left;
      width: 115px;
      height: 115px;
    }
    .header-profile-info-container {
      float: right;
      padding: 24% 5px 5px 5px;
      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        color: $didi-blue-color;
      }
    }
  }
  .header-right-info {
    float: right;
    .didi-logo-container {
      padding: 5px;
    }
    .didi-logo {
      float: right;
    }
    .notification-circle {
      @include didi-notification-circle;
      position: relative;
      left: 120px;
      top: -37px;
    }
    .top-nav {
      float: right;
      padding: 15px 5px 5px 5px;
      li {
        border-radius: 0px;
        color: $didi-blue-color;
        background-color: white;
        height: 42px;
        min-width: 128px;
        padding-top: 20px;
        text-transform: uppercase;
        &.notification {
          width: 160px;
          text-align: left;
        }
      }
      li:hover {
        background-color: $didi-green-color;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}


// layout
.main-container {
  padding-top: 15px;
  min-height: px;
  float: left;
  margin-bottom: 5px;
}
.sidebar {
  width: $didi-sidebar-width;
  float: left;
  ul {
    padding-left: 0;
    width: $didi-sidebar-btn-full-width;
    li {
      list-style-type: none;
    }
  }
  .sidebar-nav {
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: white;
      font-size: 10px;
      text-transform: uppercase;
      text-align: center;
      text-decoration: none;
      line-height: 9;
    }
    li {
      @include transition(background-color .5s .5s, color .1s);
      &:hover {
        @include didi-inner-shadow;
        background-color: $didi-light-grey-color;
      }
    }
    .active-side-nav-btn {
      a {
        color: $didi-blue-color;
      }
    }
    .profile {
      width: $didi-sidebar-btn-thin-width;
      height: $didi-sidebar-btn-height;
      border-bottom: $didi-sidebar-btn-separator-width solid $didi-background-color;
      float: left;
      background: url('/images/didi-icons/perfil.png') no-repeat 27px 3px;
      background-color: $didi-green-color;
      &.active {
        @extend .active-side-nav-btn;
        background: url('/images/didi-icons/perfil_active.png') no-repeat 27px 3px white;
      }
    }
    .promos {
      width: $didi-sidebar-btn-wide-width;
      height: $didi-sidebar-btn-height;
      border-bottom: $didi-sidebar-btn-separator-width solid $didi-background-color;
      float: right;
      background: url('/images/didi-icons/promociones.png') no-repeat 40px 3px;
      background-color: $didi-blue-color;
      &.active {
        @extend .active-side-nav-btn;
        background: url('/images/didi-icons/promociones_active.png') no-repeat 40px 3px white;
      }
    }
    .products {
      width: $didi-sidebar-btn-wide-width;
      height: $didi-sidebar-btn-height;
      border-bottom: $didi-sidebar-btn-separator-width solid $didi-background-color;
      float: left;
      background: url('/images/didi-icons/productos.png') no-repeat 45px 3px;
      background-color: $didi-blue-color;
      &.active {
        @extend .active-side-nav-btn;
        background: url('/images/didi-icons/productos_active.png') no-repeat 45px 3px white;
      }
    }
    .events {
      width: $didi-sidebar-btn-thin-width;
      height: $didi-sidebar-btn-height;
      border-bottom: $didi-sidebar-btn-separator-width solid $didi-background-color;
      float: right;
      background: url('/images/didi-icons/eventos.png') no-repeat 27px 3px;
      background-color: $didi-green-color;
      &.active {
        @extend .active-side-nav-btn;
        background: url('/images/didi-icons/eventos_active.png') no-repeat 27px 3px white;
      }
    }
    .analytics {
      width: $didi-sidebar-btn-full-width;
      height: $didi-sidebar-btn-height;
      float: left;
      background: url('/images/didi-icons/analytics.png') no-repeat 94px 3px;
      border-bottom: $didi-sidebar-btn-separator-width solid $didi-background-color;
      background-color: $didi-blue-color;
      &.active {
        @extend .active-side-nav-btn;
        background: url('/images/didi-icons/analytics_active.png') no-repeat 94px 3px white;
      }
    }

  }
  .terms {
    margin-top: 280px;
    float: left;
    li {
      height: 20px;
      background-color: $didi-blue-color;
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 5px;
      padding: 2px;
      &:hover {
        @include didi-inner-shadow;
        background-color: $didi-light-grey-color;
      }
      a {
        color: white;
        text-decoration: none;
        display: block;
        width: 100%;
        height: 100%;
        font-size: 12px;
      }
    }
  }
}
.main-content {
  width: $didi-main-content-width;
  float: right;
  padding-left: 20px;
}
.panel-container {
  width: $didi-panel-container-width;
  float: left;
}
.panel-single-container-half {
  width: 49%;
}
.panel {
  width: 100%;
//  height: $didi-panel-height;
  border-radius: 0;
  border: 3px solid white;
  margin-bottom: 1px;
  div.head-row {
    color: $didi-blue-color;
    text-transform: uppercase;
    padding: 0;
    font-size: 12px;
    div {
      padding: 10px 0 0 2px;
    }
  }
  .light-border-sides {
    border-right: 1px solid $didi-grey-color;
    border-left: 1px solid $didi-grey-color;
  }
  .row {
    border-bottom: 1px solid $didi-grey-color;
    padding: 1% 0% 1% 1%;
    font-size: 12px;
    .col-md-2 {
      padding-left: 2px;
    }
    div {
      &:nth-child(2) p {
        padding-top: 30px;
      }
      &:nth-child(3) p {
        padding-top: 30px;
      }
      &:nth-child(4) p {
        padding-top: 30px;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.head-row-fixed {
  background-color: white;
  color: #2681a7;
  text-transform: uppercase;
  padding: 0;
  font-size: 12px;
  width: 100%;
  margin-left: 0;
  border-bottom: 1px solid $didi-grey-color;
  div {
    padding: 12px 0 0 2px;
  }
  .light-border-sides {
    border-right: 1px solid #808285;
    border-left: 1px solid #808285;
  }
}

.promo-panel, .event-panel {
  overflow: scroll;
  height: 250px;
}

.wide-event-panel {
  overflow: scroll;
  height: 500px;
}

.add-promo-container {
  margin: 0;
  border-bottom: none;
  padding-top: 0;
}
.add-product-container {
  @extend .add-promo-container;
}


.wide-panel {
  background-color: white;
  float: left;
  width: 100%;
  overflow: scroll;
  height: 100px;
  padding-top: 10px;
  div {

    &.row {
      img {
        float: left;
        padding-right: 3%;
      }
      p {
        font-size: 12px;
      }
    }
  }
  div.head-row {
    color: $didi-blue-color;
    border-bottom: 1px solid $didi-grey-color;
    text-transform: uppercase;
    padding: 18px 2px 2px 2px;
    font-size: 12px;
    div p {
      margin: 0;
    }
  }
}

.wide-panel-container {
  margin-top: 32px;
  width: 100%;
  float: left;
}

.footer {
  @include didi-footer;
}


// components
.state-item {
  @include didi-state;
}
.state-active {
  background-color: $didi-green-color;
  text-transform: uppercase;
}

.state-inactive {
  background-color: $didi-red-color;
  text-transform: uppercase;
}

.edit-btn {
 @include didi-edit-button;
}

.add-btn {
  @include didi-add-button;
  float: right;
}

// helper classes
.no-padding {
  padding: 0;
}

.inline {
  display: inline;
  padding-left: 5px;
}

.text-next-2-img {
  display: inline-block;
  padding-left: 5px;
  width: 55%;
  line-height: 1;
}