@import 'config';

.didi-dashboard-modal-base {
  @include didi-dashboard-modal;
  width: 610px;
  padding: 20px 10px 10px 10px;
  overflow: auto;
  .didi-modal-header {
    border-bottom: 1px solid $didi-grey-color;
    margin-bottom: 25px;
  }
  .button-container {
    width: 100%;
    .btn {
      border-radius: 0;
      border: none;
      width: 230px;
      height: 40px;
      text-transform: uppercase;
      font-size: 12px;
    }
    .cancel-btn {
      background-color: $didi-red-color;
    }
    .accept-btn {
      background-color: $didi-green-color;
    }
    button:hover {
      background-color: $didi-light-grey-color;
    }
  }
  input {
    &[type="text"] {
      border: none;
      border-radius: 0;
    }
  }
  label {
    color: $didi-blue-color;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 0;
  }
  .datetimer-label-container {
    label {
      text-transform: none;
      font-weight: 400;
      font-size: 16px;
    }
  }
  textarea {
    border: none;
    border-radius: 0;
  }
  h2 {
    color: $didi-blue-color;
    font-size: 18px;
    text-transform: uppercase;
    width: 95%;
    margin: 5px 5px 5px 0;
    display: inline-block;
  }
}

.didi-modal.add-event-modal .modal-dialog {
  @extend .didi-dashboard-modal-base;

}

.didi-modal.add-promo-modal .modal-dialog {
  @extend .didi-dashboard-modal-base;

}

.add-event-content {
//  font-size: 20px;
}

.date-time-container {
  input {
    width: 95px;
    height: 30px;
    padding: 20px 15px 20px 12px;
    &.time {
      background: url("/images/didi-icons/chevron.png") no-repeat 85px 14px white;
      width: 120px;
    }
  }
}

.didi-calendar-ico {
  padding: 10px 10px 11px 10px;
  background: url('/images/didi-icons/calendar.png') no-repeat 0px 0px;
  width: 10px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
}

.datepicker {
  // important! added to make datepicker work in modals
  z-index:1151 !important;
}

.datetimer-label-container {
  width: 600px;
}

.datetimer-input-container-group {
  @extend .datetimer-label-container;
  padding-bottom: 25px;
}
//----------------------------------------
//                maps
//----------------------------------------
#map-canvas {
  height: 120px;
  width: 100%;
}
.map-container-modal {
  padding-bottom: 20px;
}

.pac-container {
  z-index: 1560 !important;
}

//----------------------------------------
//                promo modal
//----------------------------------------
#promo-custom-template {
  background-color: #5e5e5e;
  margin-bottom: 18px;
  .carousel-indicators {
    bottom: -28px;
    z-index: 15;
    background-color: #5e5e5e;
  }
  .carousel-inner {
    >.item {
      img {
        margin: 0 auto;
        border: 2px solid $didi-light-grey-color;
      }
    }
    .item {
      .carousel-caption {
        top: 0%;
//        padding-top: 5px;
      }
      .promo-name-description {
        min-height: 70px;
        p {
          padding-left: 10px;
          font-size: 13px;
        }
        h5 {
          padding-left: 10px;
          font-size: 18px;
        }
      }
      .promo-price-container {
        h3 {
          margin-top: 5px;
          text-align: left;
          padding: 10px;
        }
      }
      .promo-custom-background {
        background: url('/images/promo_modal_background.png') no-repeat 62px 10px;
        min-height: 100px;
        h3 {
          padding: 20px;
        }
      }
    }
  }
  .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    top: 90%;
    z-index: 5000;
  }
  .carousel-control {
    &.left {
      background-image: none;
    }
    &.right {
      background-image: none;
    }
  }
}

// dropdown full-width
.full-width-dropdown {
  margin-bottom: 4px;
  button {
    &.dropdown-toggle {
      width: 100%;
      text-align: left;
      color: $didi-grey-color;
      background: url("/images/didi-icons/chevron.png") no-repeat 98% 50% white;
      border: none;
      border-radius: 0;
    }
  }
  ul {
    width: 100%;
    &.dropdown-menu {
      li {
        a {
          color: $didi-grey-color;
        }
      }
    }
  }
}
.slider {
  &.slider-horizontal {
    width: 100%;
  }
}

.mini-info {
  color: $didi-light-grey-color;
}
.short-input {
  width: 40px;
}

#repetir-colapsable {
  label {
    text-transform: none;
  }
}

#promo-informacion {

}
.no-text-transform {
  text-transform: none;
}

#resumen-promo-add {
  label {
    @extend .no-text-transform;
  }
}

.modal-clear-spacer {
  padding-top: 5px;
  clear: both;
}

