@import 'config';

.didi-modal.add-event-modal .modal-dialog {
  @include didi-dashboard-modal;
  width: 600px;
  min-height: 630px;
  padding: 20px 10px 10px 10px;
}

.add-event-content {
//  font-size: 20px;
}